# block temp directory
.idea/
__pycache__/
.ipynb_checkpoints/
.vscode/
.temp/
lightning_logs/

# block extension
*.pkl
*.png
*.pth
*.json

# block logging directory
logs/
wandb/

# custom
font-image

# except
!google_ofl_metadata.json
!docs/*